<!-- <p>header works!</p> -->
<div class="container-xl">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <img alt="learnlytica" class="pic" src="..\assets\images\logo.png">
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-6 mt-3 mb-3">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        href=""><h5>Courses Library</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""
                        style="text-decoration: none;"><h5>Services</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active rounded-pill badge bg-primary text-nowrap" aria-current="page" href=""
                        style="background-color: blueviolet; width:5rem ;height: 2rem; text-decoration: none;"><h6>Login</h6></a>
                </li>
            </ul>
        </div>
    </div>
    <app-category></app-category>
</div>

