<!-- <p>category works!</p> -->
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Category
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Big Data</a></li>
      <li><a class="dropdown-item" href="#">Cloud Computing</a></li>
      <li><a class="dropdown-item" href="#">DevOps</a></li>
      <li><a class="dropdown-item" href="#">Machine Learning</a></li>
      <li><a class="dropdown-item" href="#">Microservices</a></li>
      <li><a class="dropdown-item" href="#">Programming</a></li>
      <li><a class="dropdown-item" href="#">Testing</a></li>
    </ul>
  </div>