<div class="container">
    <mat-tab-group>
        <mat-tab label="Delivery"> Content 1 </mat-tab>
        <mat-tab label="Dining Out"> Content 2 </mat-tab>
        <mat-tab label="Nightlife"> Content 3 </mat-tab>
      </mat-tab-group>
    
      <section>
        <div class="example-label mb-3"></div>
        <div class="example-button-row p-3 mb-3" >
          <button class="m-3" mat-stroked-button>Filters</button>
          <button class="m-3" mat-stroked-button>Delivery Time</button>
          <button class="m-3" mat-stroked-button>Rating: 4.0+</button>
          <button class="m-3" mat-stroked-button>Pure Veg</button>
          <button class="m-3" mat-stroked-button>Cuisines</button>
          <button class="m-3" mat-stroked-button>More..</button>
        </div>
      </section>
        <h1>Order food online in Mominpura, Nagpur</h1>
        <section class="container">
            <div class="order-cat">
                <div class="hover">
                    <img src="../assets/images/order1.png">
                    <div class="order-title-bg">
                        <p class="order-title">Name</p>
                        <p>Price</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
                <div class="hover">
                    <img src="..\assets\images\order2.png">
                    <div class="order-title-bg">
                        <p class="order-title">Name</p>
                        <p>Price</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
                <div class="hover">
                    <img src="../assets/images/order3.jpg">
                    <div class="order-title-bg">
                        <p class="order-title">Name</p>
                        <p>Price</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
    </section>
    <section class="container">
        <div class="order-cat">
            <div class="hover">
                <img src="../assets/images/order1.png">
                <div class="order-title-bg">
                    <p class="order-title">Name</p>
                    <p>Price</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
            <div class="hover">
                <img src="..\assets\images\order2.png">
                <div class="order-title-bg">
                    <p class="order-title">Name</p>
                    <p>Price</p>
                    <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
            <div class="hover">
                <img src="../assets/images/order3.jpg">
                <div class="order-title-bg">
                    <p class="order-title">Name</p>
                        <p>Price</p>
                        <a href="#" class="btn btn-primary">Order Now</a>
                </div>
            </div>
        </div>
